{% block body %}
  <h1>{{ category.title }}</h1>
  <h2>{{ category.description }}</h2>

  <dl>
    {% for project in category.project_set.all %}

      {% if forloop.first %}
        <h3>Projects</h3>
      {% endif %}

      <dt><a href="{% url 'taskapp:project' category.id project.id %}">{{ project.title }}</a></dt>
      <dd>
        due {{ project.due_date|date:"M j" }} 
        at {{ project.due_date|date:"g:i A" }}
      </dd>

    {% endfor %}
  </dl>

  {% include "taskapp/add_form.html" with form=project_form form_title="project" %}

  <dl>
    {% for task in category.task_set.all %}
      
      {% if forloop.first %}
        <h3>Tasks</h3>
      {% endif %}
      
      <dt>{{ task.title }}</dt>
      <dd>
        due {{ task.due_date|date:"M j" }} 
        at {{ task.due_date|date:"g:i A" }}
      </dd>

    {% endfor %}
  </dl>
  {% include "taskapp/add_form.html" with form=task_form form_title="task" %}
{% endblock %}